@import 'stylusFn.styl' // stylus公共函数--参数引用

html
  height 100%
body
  height 100%
  margin 0
  padding 0
  font-family $fontFamily
  background-color $background-color

h1,h2,h3,h4,h5,h6,p,em
  margin 0
  font-weight normal

a
  display inline
  text-decoration:none
a:hover
  color:#cd0200
  text-decoration:underline

ul,ol,li
  list-style-type: none
  padding: 0
  margin 0
img
  border 0
  vertical-align middle
table
  border-collapse collapse
  border-spacing 0
p
  word-wrap break-word
