/****************** 参数列表 ******************/
// font
$fontFamily = Helvetica, Arial, sans-serif, Microsoft YaHei
$fontSizeSmall = 12px
$fontSizeNormal = 14px
$fontSize16 = 16px
$fontSize18 = 18px
$fontSizeMid = 22px
$fontSizeBig = 24px
$fontSizeXL = 30px
$iconSize = 24px

// color
$defaultBg = #fff
$Bg2C2F3C = #2C2F3C
$BgF2 = #F2F2F2
$Bg32 = #323232
$clrfff = #fff
$clr000 = #000
$clrd5 = #d5d5d5
$clrDF4A43 = #DF4A43
$clr2C2F3C = #2C2F3C

// width -- height
$min-width = 960px

 $imgpath = '//static-sz-cocosurprise.oss-cn-shenzhen.aliyuncs.com/images/coco-web/'
/****************** 函数列表 ******************/
// 兼容前缀函数
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

// 阴影函数
box-shadow()
  vendor('box-shadow',arguments)

// 圆角函数
border-radius()
  vendor('border-radius',arguments)

// padding
paddings(type,px)
  {type} px

// margin
margins(type,px)
  {type} px

// flex布局
/*flex(args...)
  display arguments[0]
  flex-direction arguments[1]
  justify-content arguments[2]*/

// flex布局 分布两边
flexSpaceBet(args...)
  display arguments[0]
  justify-content arguments[1]

// 单行文本移除省略号
text-ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

// webkit多行文本溢出省略号
text-ellipsis-rows(rowNum)
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp rowNum
  -webkit-box-orient vertical

// 定位设置
positions(type,top = auto,right = auto,bottom = auto,left = auto)
  position type
  top top
  right right
  bottom bottom
  left left

// 宽度设置
/*width(param)
  width param
//margin 0 auto
  overflow hidden*/

// 设置透明度
opacity(o)
  opacity o

// 文本内容
text-align(type)
  text-align type
